@model OpenPlatform_WebPortal.Models.EiFirmwareListViewModel

<option value=""></option>
@if (ViewBag.EiFirmwareList != null)
{
    foreach (var item in ViewBag.EiFirmwareList.Options)
    {

        <option value="@item.OptionName">@item.OptionName</option>

    }
}